# Dependencies
/node_modules

# Build outputs
/dist
/build

# Local env files
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# IDE and editor specific files
.idea
.vscode
.DS_Store
Thumbs.db

# Optional: VS Code settings
.vscode/

# Optional: MacOS files
*.DS_Store
